{% extends "/base.html.twig" %}

{% block title %}
    Usługi
{% endblock title %}

{% block main %}
    <div
        class="col-md-9 ms-sm-auto col-lg-10 px-md-4 d-flex flex-column gap-2 my-5"
        style="min-height: calc(100vh - 56px);">
        <h1 class="text-center">Dostępne usługi</h1>
        <hr>
        <div class="container d-flex justify-content-center">
            <ul class="list-group">
                <li class="list-group-item"><strong>1. Diagnostyka Komputerowa:</strong>
                    <ul class="list-group p-2">
                        <li class="list-group-item">Precyzyjna diagnostyka elektroniczna pojazdu.</li>
                        <li class="list-group-item">Wykrywanie usterek i błędów systemów komputerowych.</li>
                    </ul>
                </li>

                <li class="list-group-item"><strong>2. Naprawy Mechaniczne:</strong>
                    <ul class="list-group pt-2">
                        <li class="list-group-item">Naprawy układów hamulcowych, zawieszenia i układu napędowego.</li>
                        <li class="list-group-item">Wymiana oleju, filtrów i płynów eksploatacyjnych.</li>
                        <li class="list-group-item">Naprawa silników i skrzyń biegów.</li>
                    </ul>
                </li>

                <li class="list-group-item"><strong>3. Obsługa Klimatyzacji:</strong>
                    <ul class="list-group p-2">
                        <li class="list-group-item">Serwis klimatyzacji samochodowej.</li>
                        <li class="list-group-item">Napełnianie czynnika chłodzącego.</li>
                        <li class="list-group-item">Diagnostyka i naprawy układów klimatyzacyjnych.</li>
                    </ul>
                </li>

                <li class="list-group-item"><strong>4. Naprawy Blacharsko-Lakiernicze:</strong>
                    <ul class="list-group p-2">
                        <li class="list-group-item">Usługi blacharskie, w tym usuwanie wgnieceń.</li>
                        <li class="list-group-item">Lakierowanie elementów nadwozia.</li>
                        <li class="list-group-item">Naprawy po kolizjach.</li>
                    </ul>
                </li>

                <li class="list-group-item"><strong>5. Serwis Ogumienia:</strong>
                    <ul class="list-group p-2">
                        <li class="list-group-item">Wymiana opon i felg.</li>
                        <li class="list-group-item">Wyważanie kół.</li>
                        <li class="list-group-item">Diagnostyka i naprawy układu kierowniczego.</li>
                    </ul>
                </li>

                <li class="list-group-item"><strong>6. Przeglądy Techniczne:</strong>
                    <ul class="list-group p-2">
                        <li class="list-group-item">Przeglądy okresowe.</li>
                        <li class="list-group-item">Przygotowanie pojazdu do przeglądu technicznego.</li>
                    </ul>
                </li>

                <li class="list-group-item"><strong>7. Elektryka Samochodowa:</strong>
                    <ul class="list-group p-2">
                        <li class="list-group-item">Naprawy układów elektrycznych.</li>
                        <li class="list-group-item">Montaż i naprawa instalacji elektrycznej.</li>
                        <li class="list-group-item">Diagnostyka awarii elektrycznych.</li>
                    </ul>
                </li>

                <li class="list-group-item"><strong>8. Obsługa Flot Samochodowych:</strong>
                    <ul class="list-group p-2">
                        <li class="list-group-item">Specjalne warunki współpracy dla firm posiadających flotę pojazdów.</li>
                        <li class="list-group-item">Regularne przeglądy i konserwacja.</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
{% endblock main %}
