{% extends "base.html.twig" %}

{% block title %}
    Home
{% endblock title %}

{% block sidebar %}
{% endblock sidebar %}

{% block main %}
    <div class="container-fluid d-flex justify-content-center align-items-center">
        <form
            hx-get="/service-details"
            hx-swap="outerHTML"
            hx-target="#main-container"
            hx-indicator="#loader-backdrop"
            hx-push-url="true"
        >
            <div class="input-group shadow-sm rounded-3">
                <input
                    type="text"
                    name="clientCode"
                    class="form-control form-control-lg"
                    placeholder="Wprowadź kod"
                    aria-label="customer-code"
                >
                <button class="input-group-text">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
        </form>

    </div>
{% endblock main %}

