{% extends "/base.html.twig" %}

{% block title %}
    Regulamin
{% endblock title %}

{% block main %}
    <div
        class="col-md-9 ms-sm-auto col-lg-10 px-md-4 d-flex flex-column gap-2 my-5"
        style="min-height: calc(100vh - 56px);">
        <h1 class="text-center">Regulamin serwisu</h1>
        <hr>
        <div class="container mt-3">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <h3>1. Niniejszy regulamin określa zasady korzystania z usług serwisu pojazdów.</h3>
                    <p>1.1 Terminy użyte w regulaminie oznaczają:</p>
                    <ul>
                        <li><strong>"Serwis"</strong> - Car Service Management, świadczący usługi związane z konserwacją,
                            naprawą
                            i obsługą pojazdów.
                        </li>
                        <li><strong>"Użytkownik"</strong> - osoba fizyczna lub prawna korzystająca z usług serwisu.</li>
                        <li><strong>"Pojazd"</strong> - wszelkie środki transportu, takie jak samochody, motocykle,
                            rowery,
                            itp.
                        </li>
                    </ul>
                    <p>1.2 Korzystanie z usług serwisu jest równoznaczne z akceptacją niniejszego regulaminu.</p>
                </div>
            </div>


            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <h3 class="text-center">2. Umawianie Terminów</h3>
                    <p>2.1. Użytkownik może umawiać się na usługi serwisowe telefonicznie lub osobiście.</p>
                    <p>2.2. Serwis zobowiązuje się do zapewnienia terminu usługi zgodnie z dostępnymi możliwościami i z
                        uwzględnieniem kolejności zgłoszeń.</p>
                </div>
            </div>


            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <h3 class="text-center">3. Realizacja Usług</h3>
                    <p>3.1. Serwis zobowiązuje się do profesjonalnej i terminowej realizacji usług zgodnie z umówionym
                        zakresem prac.</p>
                    <p>3.2. Użytkownik zostanie powiadomiony o ewentualnych dodatkowych pracach lub kosztach, które mogą
                        wyniknąć w trakcie naprawy pojazdu.</p>
                </div>
            </div>


            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <h3 class="text-center">4. Odpowiedzialność</h3>
                    <p>4.1. Serwis nie ponosi odpowiedzialności za szkody wynikłe z nieprawidłowego użytkowania pojazdu
                        po wykonanej usłudze.</p>
                    <p>4.2. Serwis nie ponosi odpowiedzialności za utratę lub uszkodzenie mienia pozostawionego w
                        pojeździe przez Użytkownika.</p>
                </div>
            </div>


            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <h3 class="text-center">5. Reklamacje</h3>
                    <p>5.1. Użytkownik ma prawo składać reklamacje w przypadku niewłaściwej realizacji usług
                        serwisowych.</p>
                    <p>5.2. Reklamacje będą rozpatrywane zgodnie z obowiązującymi przepisami prawa.</p>
                </div>
            </div>


            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <h3 class="text-center">6. Postanowienia Końcowe</h3>
                    <p>6.1. Niniejszy regulamin może ulec zmianie. Użytkownik zostanie poinformowany o wszelkich
                        zmianach w terminie dostępnym dla niego.</p>
                    <p>6.2. W sprawach spornych sąd właściwy będzie sąd miejscowej właściwości.</p>
                </div>
            </div>

        </div>
    </div>
{% endblock main %}
