<footer class="py-5 bg-body-tertiary border-top">
    <div class="container">
        <p class="text-center">
            <strong>
                &copy; 2024 - Car Service Management
            </strong>
        </p>
    </div>
</footer>