<nav
{#    class="navbar navbar-expand-lg px-lg-5 bg-dark-subtle text-white"#}
    class="navbar navbar-expand-lg px-lg-5 border-1 border-bottom border-dark-subtle"
>
    <div class="container-fluid">
        {#        TODO: Hide this button when user is not logged in #}

        <button class="navbar-toggler d-lg-none"
                type="button"
                data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasSidebar"
                aria-controls="offcanvasExample"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">Logo</a>
        <div class="collapse navbar-collapse text-white" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            </ul>

            <div class="d-flex">
                {% set user = session.user %}
                {% if user %}
                <ul class="navbar-nav dropdown">
                    <li class="nav-item">
                        {#                        TODO: Fix user auth with method or leave this as is #}
                        <a class="nav-link active dropdown-toggle"
                           href="#"
                           role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false"
                        >
                            {{ user.name }}
                        </a>

                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
                {% else %}
                    <a class="btn text-body"
                       href="/login"
                    >
                        Zaloguj się
                    </a>
                    <a class="btn text-body"
                       href="/register"
                    >
                        Rejestruj
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>