<aside id="sidebar" class="vh-100 col-lg-3 col-xl-2 border-1 border-end border-dark-subtle main-sidebar bg-body-tertiary" >
    <div>
        <div class="form-check form-switch" >
            <input
                class="form-check-input"
                type="checkbox"
                role="switch"
                id="themeSwitch"
                style="cursor: pointer; width: 3rem; height: 1.5rem;"
                aria-label="theme-switch"
            >
        </div>
    </div>
</aside>
