<aside id="sidebar" class="vh-100 col-lg-3 col-xl-2 border-1 border-end border-dark-subtle" >
    {% include "partials/sidebar-content.html.twig" %}
</aside>

<aside class="offcanvas offcanvas-start"
       tabindex="-1"
       id="offcanvasSidebar"
       aria-labelledby="offcanvasExampleLabel"
>
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasLabel">Offcanvas</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    {% include "partials/sidebar-content.html.twig" %}
</aside>
