{% extends "base.html.twig" %}

{% block title %}
    Unauthorized
{% endblock title %}

{% block sidebar %}
{% endblock sidebar %}

{% block main %}
    <div class="container d-flex flex-column justify-content-center align-items-center vh-100">
        <h1>403</h1>
        <div>Unauthorized</div>
        <a href="#" onclick="goBack(); return false;">Go back</a>
    </div>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>
{% endblock main %}
