{% extends "base.html.twig" %}

{% block title %}
    Page not found
{% endblock title %}

{% block sidebar %}
{% endblock sidebar %}

{% block main %}
    <div class="container d-flex flex-column justify-content-center align-items-center vh-100">
        <h1>404</h1>
        <div>Page not found</div>
        <a href="#" onclick="goBack(); return false;">Wróć</a>
    </div>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>
{% endblock main %}
