{% extends "base.html.twig" %}

{% block title %}
    Login
{% endblock title %}

{% block sidebar %}
{% endblock sidebar %}

{% block main %}
    <div class="col-lg-9 col-xl-10">
        <h1>Login</h1>
    </div>
{% endblock main %}
