{% extends "base.html.twig" %}
{#{% include "partials/head.html.twig" %}#}
{#{% include "partials/nav.html.twig" %}#}

{#<div>#}
{#    RegisterController#}
{#</div>#}

{#{% include "partials/footer.html.twig" %}#}
