{# TODO: Redo layouts #}
<!doctype html>
<html lang="en">
<head>
    {% include "partials/head.html.twig" %}
    {% block head %}
    {% endblock head %}
</head>
<body class="overflow-x-hidden">

{% include "partials/nav.html.twig" %}

<section class="container-fluid">
    <div class="row vh-100">
        {% block sidebar %}
            {% include "partials/sidebar.html.twig" %}
        {% endblock sidebar %}

        {% block main %}
        {% endblock main %}
    </div>
</section>

{% include "partials/footer.html.twig" %}

</body>
</html>